.regionFilter {
  position: relative;
  display: block;
}
.regionFilter__button {
  display: block;
  width: 100%;
  padding: 1rem;
  background: #fff;
  box-shadow: 0px 0px 5px 5px rgba(230, 230, 230, 1);
  border: none;
  border-radius: 7px;
  outline: none !important;
  svg {
    margin-left: 2rem;
  }
}

.regionsFilter__regions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 5px 0 #ccc;
  border: none;
  border-radius: 7px;
  text-align: left;
  &--active {
    display: flex;
    z-index: 5;
  }
}

.regionsFilter__regionButton {
  border: none;
  padding: 0;
  margin: 5px 0;
  outline: none;
  width: 100%;
  text-align: left;
  background: #fff;
  cursor: pointer;
  &--active {
    font-weight: 800;
  }
}

@media (min-width: 768px) {
  .regionFilter {
    position: relative;
    display: inline-block;
  }

  .regionFilter__button {
    display: inline-block;
    width: auto;
  }
}

.dark-mode {
  .regionFilter__button {
    background: rgb(43, 57, 69);
    box-shadow: 0px 0px 5px 5px rgb(31, 41, 49);
    color: #fff;
  }

  .regionsFilter__regions {
    background: rgb(43, 57, 69);
    box-shadow: 0px 3px 5px 5px rgb(31, 41, 49);
  }
  .regionsFilter__regionButton {
    background: rgb(43, 57, 69);
    color: #fff;
  }
}
