.overview {
  background: #fff;
  box-shadow: 0px 0px 15px 0 rgba(230, 230, 230, 1);
  border-radius: 7px;
  overflow: hidden;
}

.overview__flag {
  max-width: 100%;
}

.overview__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.overview__details {
  padding: 20px 15px 30px;
  background-color: #fff;
}

.overview__details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overview__details-listItem {
  margin: 10px 0;
}

.dark-mode {
  .overview {
    background: rgb(43, 57, 69);
    box-shadow: 0px 0px 5px 5px rgb(31, 41, 49);
  }

  .overview__title,
  span {
    color: #fff;
  }

  .overview__details {
    background: rgb(43, 57, 69);
    color: #fff;
  }
}
